#wallet {
    font-size: 120%;
    text-align: center;
    margin-top: 1%;
}

#welcome {
    font-size: 250%;
    text-align: center;
    margin-top: 1%;
}

#gains {
    font-size: 120%;
    text-align: center;
    margin-top: 1%;
}